name: Build & Release

on:
  push:
    tags:
      - v**

  workflow_run:
    workflows: ["Automatically release a new version of flyctl"]
    types:
      - completed

  workflow_dispatch:

  # need this until this file is on the default branch so tag creates are picked up
  workflow_call:

permissions:
  contents: write
  packages: write

# concurrency:
#   group: ${{ github.workflow }}-${{ github.ref }}
#   cancel-in-progress: true

jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
      - run: echo "$GITHUB_CONTEXT"
        env:
          GITHUB_CONTEXT: ${{ toJSON(github) }}

  meta:
    runs-on: ubuntu-latest
    outputs:
      sha_short: ${{ steps.gen.outputs.sha_short }}
      json: ${{ steps.gen.outputs.json }}
      version: ${{ fromJSON(steps.gen.outputs.json).version }}
      tag: ${{ fromJSON(steps.gen.outputs.json).tag }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - name: Generate release meta
        run: |
          go run ./tools/version show > release.json
      - name: Output release meta
        id: gen
        run: |
          cat release.json | jq
          echo "sha_short=$(git rev-parse --short HEAD)" >> "$GITHUB_OUTPUT"
          echo "json=$(cat release.json)" >> "$GITHUB_OUTPUT"
      - uses: actions/upload-artifact@v6
        with:
          name: build-artifacts
          path: |
            release.json
          overwrite: true

  release:
    runs-on: ubuntu-latest
    needs: meta
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - name: Place wintun.dll
        run: cp -r deps/wintun/bin/amd64/wintun.dll ./
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          distribution: goreleaser
          version: latest
          args: release --clean -f .goreleaser.2.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
